
 <div id="{{title}}" style="height: 100%; width: 100%"></div>
  <!-- Trigger the modal with a button -->

   <div class="col-sm-12" style="margin-bottom: 5%">
  <button type="button" class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#myModal{{title}}" >Open Chart {{title}}</button>
  	</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal{{title}}" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" >
               <div id="{{modal}}"  style="height: 300px; max-width: 100%; width: 65%"></div>    	  
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
